.description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}